.container {
    display:inline-block; /* only way to add sizing to span */
}

#test {
    display:none;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}